@tailwind base;
@tailwind components;
@tailwind utilities;

.shape{
    border-radius: 72% 28% 54% 46% / 49% 29% 71% 51% ;
}

/*======================
    404 page
=======================*/




.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
